/* CSS definition file containing site stylesheet */
html, body {
    height: 100%;
}

body {
    font-family: 'Muli', sans-serif;
    background-color: #666666;
    background-image: url("../images/layout/background.jpg");
    background-attachment: fixed;
    font-size: 1.0em;
    color: #AAA;
    margin: 0px;
    padding: 0px;
}

h5 {
    margin-top: 2px;
    margin-bottom: 8px;
}

a:link {
    color: #AAA;
}
a:visited {
    color: #AAA;
}

#body-wrapper {
    min-height: 100%;
    position: relative;
}

.template-wrapper {
    width: 100%;
    
    margin-left: auto;
    margin-right: auto;
    
    z-index: 1;
}

img.title-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.line-item-icon {
    vertical-align: middle;
    max-height: 32px;
    max-width: 32px;
    
}

.banner-wrapper {    
    top: 0px;    
    width: 100%;
    min-width: 910px;
    height: 85px;
    background-color: #AAA;
    position: fixed;    
    border-style: solid;
    border-width: 0px;
    border-bottom-width: 1px;
    border-color: #AAA;
    z-index: 100;
    box-shadow: 0px 5px 10px #000000;
}

.aeon-text {
    color: #0A9D2F;
}
.cybran-text {
    color: #DF2D0E;
}
.uef-text {
    color: #2D78B2;
}
.seraphim-text {
    color: #F1C240;
}

.aeon-bg {
    background-color: #0A9D2F;
}
.aeon-bg-trans {
    background: rgba(10, 157, 47, .15);    
}
.cybran-bg {
    background-color: #DF2D0E;
}
.cybran-bg-trans {
    background: rgba(223, 45, 14, .15);
}
.uef-bg {
    background-color: #2D78B2;
}
.uef-bg-trans {
    background: rgba(45, 120, 178, .15);
}
.seraphim-bg {
    background-color: #F1C240;
}
.seraphim-bg-trans {
    background: rgba(241, 194, 64, .15);
}
.welcome-bg {
    background-color: #AAA;
}

.category {
    text-align: center;
    background-color: #000;
    border-style: none;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: #FFF;
    border-width: 1px;
}
.category h3 {
    margin: 0px;
}

.columns {
    background-image: url("../images/all/columns_bg.png");
    background-repeat: repeat-y;
    background-size: 100% 100%;
}

.banner-bg {
    padding: 1px;
    height: 80px;
    background-color: #000;    
}

.banner {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.content-wrapper {
    padding-top: 100px;
    padding-bottom: 10px;
    width: 100%;
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
}

.content-wrapper-inner {
    background: rgba(170, 170, 170, .4);
    border-style: solid;
    border-color: #FFF;
    border-width: 1px;
    padding: 5px;
    margin-bottom: 60px;
}

.content-wrapper-show {
    /*background: rgba(0, 0, 0, .4);*/
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-color: #FFF;
    border-width: 1px;
    padding: 5px;
    margin-bottom: 60px;
}

.content-block {
    background: rgba(0, 0, 0, .75);
    border-style: solid;
    border-color: #FFF;
    border-width: 1px;
    padding: 0px;
    margin: 5px;
}

.line-item-all {
    background: rgba(0, 0, 0, .25);
    padding: 0px;    
    margin: 5px;
}
.line-item-all:hover {
    background: rgba(255, 255, 255, .10);
}
.line-item-all h5 {
    margin: 0px;
    padding: 0px;
}
.line-item-data {
    padding-top: 0px;
    padding-bottom: 0px;
    word-wrap: break-word;
}

.footer-bg {
    position: absolute;
    bottom: 0px;
    padding-top: 3px;        
    border-style: solid;
    border-width: 0px;
    border-top-width: 1px;
    border-color: #FFF;
    width: 100%;
    box-shadow: 0px -5px 10px #000000;
}

.footer {    
    background-color: #000;
    margin: 0px;
    padding: 5px;
    font-size: 0.8em;
    font-weight: bold;
    color: #AAA;
    text-align: center;   
}
.footer p {
    margin-bottom: 0px;
}

.welcome-block {
    padding: 20px;
}

p.blueprint {
    font-size: 10pt;
}

.test {
    border-style: solid;
    border-color: #FF0000;
    border-width: 1px;
}
.test-right {
    border-style: none;
    border-right-style: solid;
    border-color: #FF0000;
    border-width: 1px;
}
.menu-block-left { 
    float: left;  
    text-align: left;
}
.menu-block-right { 
    float: right;  
    text-align: left;    
}
.menu-choice {
    padding-top: 15px;
}

.info-icon {
    width: 32px;
    height: 40px;
    float: left;
    margin: 2px;
    padding: 0px;
    white-space: nowrap;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.clear {clear: both;}

.race-block {
    width: 25%;
    float:left;
    margin: 0px;
    padding: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
    height: 100%;
}

.tier-splitter {    
    border-top-style: dashed;
    border-width: 1px;
    border-color: #666;
}

.set-height {
    height: 100%;
}

.faf-title-link {
    height: 79px;
    width: 395px;
    margin: 0px;
    display: block;
    background: url('../images/layout/faf_title_grey.png');
}
.faf-title-link:hover {
    background: url('../images/layout/faf_title_hover.png');
}
.all-menu-link {
    height: 48px;
    width: 72px;
    margin: 0px;
    display: block;
    background: url('../images/layout/all_small_grey.png');
}
.all-menu-link:hover {
    background: url('../images/layout/all_small_hover.png');
}
.aeon-menu-link {
    height: 48px;
    width: 71px;
    margin: 0px;
    display: block;
    background: url('../images/layout/aeon_small_grey.png');
}
.aeon-menu-link:hover {
    background: url('../images/layout/aeon_small_hover.png');
}
.cybran-menu-link {
    height: 48px;
    width: 93px;
    margin: 0px;
    display: block;
    background: url('../images/layout/cybran_small_grey.png');
}
.cybran-menu-link:hover {
    background: url('../images/layout/cybran_small_hover.png');
}
.uef-menu-link {
    height: 48px;
    width: 71px;
    margin: 0px;
    display: block;
    background: url('../images/layout/uef_small_grey.png');
}
.uef-menu-link:hover {
    background: url('../images/layout/uef_small_hover.png');
}
.seraphim-menu-link {
    height: 48px;
    width: 101px;
    margin: 0px;
    display: block;
    background: url('../images/layout/seraphim_small_grey.png');
}
.seraphim-menu-link:hover {
    background: url('../images/layout/seraphim_small_hover.png');
}
.compare-menu-link {
    height: 48px;
    width: 103px;
    margin: 0px;
    display: block;
    background: url('../images/layout/compare_small_grey.png');
}
.compare-menu-link:hover {
    background: url('../images/layout/compare_small_hover.png');
}

.layout-race-logo-left {
    position: absolute;
    top: 100px;
    left: 10px;
    width: 225px;
    height: 276px;
    color: #FF0000;
    text-align: center;
    border-style: none;
    border-width: 1px;
    border-color: #FFFFFF;
    margin: 0px;
    padding: 0px;
    z-index: -1;
}

.layout-faf-logo-right {
    position: absolute;
    bottom: 60px;
    right: 5px;
    width: 200px;
    height: 200px;
    color: #FF0000;
    text-align: center;
    border-style: none;
    border-width: 1px;
    border-color: #FFFFFF;
    margin: 0px;
    padding: 0px;
    z-index: -1;
}

.aeon-view {
    background: rgba(10, 157, 47, .20);
    /*margin: 0px;*/
    padding: 0px;
    color: #CCCCCC;
}
.aeon-view hr {
    color: #0A9D2F;
    background-color: #0A9D2F;
    height: 5px;
    margin: 5px;
    margin-top: 3px;    
    border-style: none;
}
.aeon-view h4 {
    color: #FFFFFF;
    font-size: 1.4em;
    font-weight: bold;
    margin: 0px;
    margin-bottom: 5px;
}
.aeon-view h4.aeon {
    color: #0A9D2F;
}
.aeon-view h5.aeon {
    color: #0A9D2F;
}

.cybran-view {
    background: rgba(223, 45, 14, .20);
    /*margin: 0px;*/
    padding: 0px;
    color: #CCCCCC;
}
.cybran-view hr {
    color: #DF2D0E;
    background-color: #DF2D0E;
    height: 5px;
    margin: 5px;
    margin-top: 3px;    
    border-style: none;
}
.cybran-view h4 {
    color: #FFFFFF;
    font-size: 1.4em;
    font-weight: bold;
    margin: 0px;
    margin-bottom: 5px;
}
.cybran-view h4.cybran {
    color: #DF2D0E;
}
.cybran-view h5.cybran {
    color: #DF2D0E;
}

.uef-view {
    background: rgba(45, 120, 178, .20);
    /*margin: 0px;*/
    padding: 0px;
    color: #CCCCCC;
}
.uef-view hr {
    color: #2D78B2;
    background-color: #2D78B2;
    height: 5px;
    margin: 5px;
    margin-top: 3px;    
    border-style: none;
}
.uef-view h4 {
    color: #FFFFFF;
    font-size: 1.4em;
    font-weight: bold;
    margin: 0px;
    margin-bottom: 5px;
}
.uef-view h4.uef {
    color: #2D78B2;
}
.uef-view h5.uef {
    color: #2D78B2;
}

.seraphim-view {
    background: rgba(241, 194, 64, .20);
    /*margin: 0px;*/
    padding: 0px;
    color: #CCCCCC;
}
.seraphim-view hr {
    color: #F1C240;
    background-color: #F1C240;
    height: 5px;
    margin: 5px;
    margin-top: 3px;    
    border-style: none;
}
.seraphim-view h4 {
    color: #FFFFFF;
    font-size: 1.4em;
    font-weight: bold;
    margin: 0px;
    margin-bottom: 5px;
}
.seraphim-view h4.seraphim {
    color: #F1C240;
}
.seraphim-view h5.seraphim {
    color: #F1C240;
}

.table-block {
    margin: 15px;
    background-color: #000;
    border-style: solid;
    border-width: 1px;
    border-color: #FFFFFF;
    padding: 10px;
}

.info-avatar {
    width: 64px;
    height: 64px;
    float: left;
    margin: 5px;
    padding: 0px;
}

.amph {
    background-image: url("../images/arenas/amph_up.png");
}
.air {
    background-image: url("../images/arenas/air_up.png");
}
.land {
    background-image: url("../images/arenas/land_up.png");
}
.sea {
    background-image: url("../images/arenas/sea_up.png");
}

.strat_icon {
    position: relative;
    left: 42px;
    top: -25px;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}
.center {
    text-align: center;
}

.info-tier {
    float: right;
    text-align: left;
    padding: 5px;
}

.info-title {    
    float: left; 
    text-align: left;
    padding: 5px;
}
.info-title h4 {
    font-family: 'Electrolize', sans-serif;
}

.attribute {
    color: #666;
}

.veterancy {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}
.veterancy th {
    font-size: 10pt;
    font-weight: bold;
    text-align: center;
    border: none;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    background-color: #111;
}
.veterancy td {
    font-size: 10pt;
    font-weight: normal;
    text-align: center;
    border: none;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #111;
    padding: 5px;
}
.level-header {
    width: 100px;
}
.kp-header {
    width: 75px;
}

.aeon-header {
    color: #0A9D2F;
    border-color: #0A9D2F;
}
.cybran-header {
    color: #DF2D0E;
    border-color: #DF2D0E;
}
.uef-header {
    color: #2D78B2;
    border-color: #2D78B2;
}
.seraphim-header {
    color: #F1C240;
    border-color: #F1C240;
}

.no-margin {
    margin: 0px;
}

.attack-spacing {
    margin-bottom: 25px;
}