@font-face {
    font-family: Cybran;
    src: url('/assets/fonts/zero_threes/zeroes_three.ttf');
}
@font-face {
    font-family: UEF;
    src: url('/assets/fonts/butterbelly/butterbelly.ttf');
}
@font-face {
    font-family: SupCom;
    src: url('/assets/fonts/gunship/gunship.ttf');
}
@font-face {
    font-family: SupCom-Narrow;
    src: url('/assets/fonts/gunship/gunshipcond.ttf');
}
@font-face {
    font-family: Seraphim;
    src: url('/assets/fonts/wintermute/wintermute.ttf');
}
@font-face {
    font-family: Aeon;
    src: url('/assets/fonts/xenotron/xenotron.ttf');
}


/* CSS definition file containing site stylesheet */
html, body {
    height: 100%;
}

body {
    font-family: 'Muli', sans-serif;
    background-color: #333333;
    background-image: url("../images/layout/fafbg2.jpg");
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
    font-size: 10pt;
    color: #AAA;
    margin: 0px;
    padding: 0px;
}

h5 {
    margin-top: 2px;
    margin-bottom: 8px;
}



a:link {
    color: #AAA;
}
a:visited {
    color: #AAA;
}

#body-wrapper {
    min-height: 100%;
    position: relative;
}

.template-wrapper {
    width: 100%;
    
    margin-left: auto;
    margin-right: auto;
    
    z-index: 1;
}

img.title-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.line-item-icon {
    vertical-align: middle;
    max-height: 32px;
    max-width: 32px;
    
}

.menubar-wrapper {
    position: fixed;
    width: 100%;
    min-width:1400px;
    height: 55px;
    margin: 0px;
    padding: 0px;
    top: 0px;
    left: 0px;
    background-color: #000000;
    z-index: 99;
    box-shadow: 0px 5px 10px #000000;
}
.menubar {
    position: fixed;
    width: 100%;
    min-width: 1400px;
    height: 50px;
    margin: 0px;
    padding: 0px;
    top: 0px;
    left: 0px;
    background-color: #111111;
}
.menubar a {
    text-decoration: none;
}
.menubar a:hover {
    text-decoration: none;
}
.menu-item {
    position: relative;
    float: left;
    height: 50px;
    display: block;
    width: 14.285%;
    background-color: inherit;
    margin: 0px;
    padding: 0px;
    overflow: hidden;   
    transition: background-color 0.25s ease-in-out;
    text-align: right;
}
img.menu-icon {
    display: block;
    position: absolute;
    top: -25px;
    left: 0px;
    width: 100px;
    height: 100px;
    /*margin: -25px auto 0px auto;*/
    /*margin: -25px 0px 0px 0px;    */
}
p.menu-item-name {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;   
    right: 0px;
    opacity: 0;
    transition: opacity 0.25s ease-in-out, text-shadow 0.25s ease-in-out;
    z-index: 98;
    color: #222222;
    font-weight: normal;
    font-size: 18px;
    line-height: 50px;
    padding: 0px 5px 0px 0px;       
    margin: 0px 0px 0px 0px;
}
@media screen and (min-width: 700px) {
    p.menu-item-name {
        /*padding: 0px 5px 0px 0px;*/
        /*visibility: hidden;*/
        /*padding-top: 10px;*/
        /*line-height: 60px;*/
        font-size: 20px;
    }
}
@media screen and (min-width: 800px) {
    p.menu-item-name {
        /*padding: 0px 5px 0px 0px;*/
        /*visibility: hidden;*/
        /*padding-top: 10px;*/
        font-size: 22px;
    }
}
@media screen and (min-width: 1200px) {
    p.menu-item-name {
        /*padding: 0px 5px 0px 0px;*/
        /*visibility: hidden;*/
        /*padding-top: 5px;*/
        font-size: 24px;
    }
}

@media screen and (min-width: 1400px) {
    p.menu-item-name {
        /*padding: 0px 5px 0px 0px;*/
        /*visibility: hidden;*/
        font-size: 26px;
    }
}

@media screen and (min-width: 1600px) {
    p.menu-item-name {
        /*padding: 0px 15px 0px 0px;*/
        /*visibility: hidden;*/

        font-size: 28px;
    }
}
@media screen and (min-width: 1800px) {
    p.menu-item-name {
        /*padding: 0px 15px 0px 0px;*/
        /*padding-top: 10px;*/
        font-size: 30px;
    }
}


p.menu-item-name:hover {
    opacity: 1;
}
.aeon-text-new {
    color: #0a9d2f;
    font-family: Aeon !important;
    letter-spacing: 2px;
}
.aeon-menu-new {
    font-family: Aeon;
    letter-spacing: 3px;
    /*font-size: 1.5em;*/
}
.aeon-menu-new:hover {
    background-color: #0a9d2f;
}
.aeon-menu-new:hover p {
    text-shadow: 
        -1px -1px 0 #0a9d2f,  
    1px -1px 0 #0a9d2f,
    -1px 1px 0 #0a9d2f,
    1px 1px 0 #0a9d2f;
}

.cybran-text-new {
    color: #df2d0e;
    font-family: Cybran !important;
    letter-spacing: 2px;
}
.cybran-menu-new {
    font-family: Cybran;
    letter-spacing: 2px;
    /*font-size: 1.5em;*/
}
.cybran-menu-new:hover {
    background-color: #df2d0e;
}
.cybran-menu-new:hover p {
    text-shadow: 
        -1px -1px 0 #df2d0e,  
    1px -1px 0 #df2d0e,
    -1px 1px 0 #df2d0e,
    1px 1px 0 #df2d0e;
}

.uef-text-new {
    color: #2d78b2;
    font-family: UEF !important;
    letter-spacing: 2px;
}
.uef-menu-new {
    font-family: UEF;
    letter-spacing: 2px;
    /*font-size: 1.5em;*/
}
.uef-menu-new:hover {
    background-color: #2d78b2;
}
.uef-menu-new:hover p {
    text-shadow: 
        -1px -1px 0 #2d78b2,  
    1px -1px 0 #2d78b2,
    -1px 1px 0 #2d78b2,
    1px 1px 0 #2d78b2;
}
.seraphim-text-new {
    color: #f1c240;
    font-family: Seraphim !important;
}
.seraphim-menu-new {
    font-family: Seraphim;
    /*font-size: 1.5em;*/
}
.seraphim-menu-new:hover {
    background-color: #f1c240;
}
.seraphim-menu-new:hover p {
    text-shadow: 
        -1px -1px 0 #f1c240,  
    1px -1px 0 #f1c240,
    -1px 1px 0 #f1c240,
    1px 1px 0 #f1c240;
}

.home-text-new {
    color: #eee;
}
.home-menu-new {
    font-family: SupCom-Narrow;
    /*font-size: 1.5em;*/
}
.home-menu-new:hover {
    background-color: #eee;
}
.home-menu-new:hover p {
    text-shadow: 
        -1px -1px 0 #eee,  
    1px -1px 0 #eee,
    -1px 1px 0 #eee,
    1px 1px 0 #eee;
}

.compare-text-new {
    color: #eee;
}

.compare-menu-new {
    font-family: SupCom-Narrow;
    /*font-size: 1.5em;*/
}
.compare-menu-new:hover {
    background-color: #eee;
}
.compare-menu-new:hover p {
    text-shadow: 
        -1px -1px 0 #eee,  
    1px -1px 0 #eee,
    -1px 1px 0 #eee,
    1px 1px 0 #eee;
}

.all-text-new {
    font-family: SupCom-Narrow;
    color: #777777;
}

.all-menu-new {
    font-family: SupCom-Narrow;
    /*font-size: 1.5em;*/
}
.all-menu-new:hover {
    background-color: #777777;
}
.all-menu-new:hover {
    text-shadow: 
        -1px -1px 0 #777777,  
    1px -1px 0 #777777,
    -1px 1px 0 #777777,
    1px 1px 0 #777777;
}



.banner-wrapper {    
    top: 0px;    
    width: 100%;
    min-width: 1200px;
    height: 85px;
    background-color: #AAA;
    position: fixed;    
    border-style: solid;
    border-width: 0px;
    border-bottom-width: 1px;
    border-color: #AAA;
    z-index: 100;
    box-shadow: 0px 5px 10px #000000;
}

.aeon-text {
    color: #0A9D2F;
}
.cybran-text {
    color: #DF2D0E;
}
.uef-text {
    color: #2D78B2;
}
.seraphim-text {
    color: #F1C240;
}

.black-text {
    color: #000000;
}

.aeon-bg {
    background-color: #0A9D2F;
}
.aeon-bg-trans {
    background: rgba(10, 157, 47, .2);    
}
/*.aeon-bg-trans:hover {
    background: rgba(10, 157, 47, .3);    
}*/
.cybran-bg {
    background-color: #DF2D0E;
}
.cybran-bg-trans {
    background: rgba(223, 45, 14, .2);
}
/*.cybran-bg-trans:hover {
    background: rgba(223, 45, 14, .3);
}*/
.uef-bg {
    background-color: #2D78B2;
}
.uef-bg-trans {
    background: rgba(45, 120, 178, .2);
}
/*.uef-bg-trans:hover {
    background: rgba(45, 120, 178, .3);
}*/
.seraphim-bg {
    background-color: #F1C240;
}
.seraphim-bg-trans {
    background: rgba(241, 194, 64, .2);
}
/*.seraphim-bg-trans:hover {
    background: rgba(241, 194, 64, .3);
}*/
.welcome-bg {
    background-color: #AAA;
}

/*#command-link a:link {
    z-index: 10;
}*/


.category {
    text-align: center;
    /*background-color: #000;*/
    border-style: none;
    /*border-top-style: solid;*/
    /*border-bottom-style: solid;*/
    /*border-color: #333;*/
    /*border-width: 1px;*/
}
.category h3 {
    margin: 0px;
}
.collapse-link a:link {
    color: #AAA;
}
.collapse-link a:visited {
    color: #AAA;
}
.collapse-link a:hover {
    color: #AAA;
}



.columns {
    background-image: url("../images/all/columns_bg.png");
    background-repeat: repeat-y;
    background-size: 100% 100%;
}

.banner-bg {
    padding: 1px;
    height: 80px;
    background-color: #000;    
}

.banner {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.content-wrapper {
    padding-top: 80px;
    padding-bottom: 70px;
    width: 100%;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.content-wrapper-inner {
    background: rgba(170, 170, 170, .6);
    /*border-style: solid;*/
    /*border-radius: 10px;*/
    /*border-color: rgba(170, 170, 170, .01);*/
    /*border-width: 1px;*/
    padding: 5px;
    /*margin-bottom: 60px;*/
}

.content-wrapper-show {
    /*background: rgba(0, 0, 0, .4);*/
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    /*border-style: solid;*/
    /*border-radius: 10px;*/
    /*border-color: rgba(170, 170, 170, .01);*/
    /*border-width: 1px;*/
    padding: 0px;
    /*margin-bottom: 60px;*/
}

.content-block {
    background: rgba(17, 17, 17, .95);
    /*border-style: solid;
    border-radius: 10px;

    border-width: 0px 5px 0px 5px;
    border-color: rgba(170, 170, 170, 0.5);*/
    padding: 10px;
    padding: 0px;
    margin: 5px;
}

.line-item-all {
    background: rgba(0, 0, 0, .25);
    padding: 5px;    
    margin: 5px;
}
.line-item-all:hover {
    background: rgba(255, 255, 255, .10);
}

.line-item-race {
    background: rgba(128, 128, 128, .1);
    padding: 0px;    
    margin: 5px;
}
.line-item-race:hover {
    background: rgba(255, 255, 255, .10);
}

.line-item-all h5 {
    margin: 0px;
    padding: 0px;
}
.line-item-data {
    padding-top: 0px;
    padding-bottom: 0px;
    word-wrap: break-word;
}

.footer-bg {
    position: absolute;
    bottom: 0px;
    padding-top: 0px;        
    border-style: solid;
    border-width: 0px;
    border-top-width: 5px;
    border-color: #000;
    width: 100%;
    box-shadow: 0px -5px 10px #000000;
}

.footer {    
    background-color: #111;
    margin: 0px;
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
    color: #666;
    text-align: center;   
}
.footer p {
    margin-bottom: 0px;
}

.welcome-block {
    padding: 20px;
}

p.blueprint {
    font-size: 10pt;
}

.padding-tb-five {
    padding-top: 5px;
    padding-bottom: 5px;
}

.test {
    border-style: solid;
    border-color: #FF0000;
    border-width: 1px;
}
.test-right {
    border-style: none;
    border-right-style: solid;
    border-color: #FF0000;
    border-width: 1px;
}
.menu-block-left { 
    float: left;  
    text-align: left;
}
.menu-block-right { 
    float: right;  
    text-align: center;    
}
.menu-block-right h4 {
    margin-top: 10px !important;
}
.menu-choice {
    padding-top: 0px;
}

.info-icon {
    width: 32px;
    height: 40px;
    float: left;
    margin: 2px;
    padding: 0px;
    white-space: nowrap;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.clear {clear: both;}

.race-block {
    width: 25%;
    float:left;
    margin: 0px;
    padding: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
    height: 100%;
}

.tier-splitter {    
    border-top-style: dashed;
    border-width: 1px;
    border-color: #666;
}

.set-height {
    height: 100%;
}

.faf-title-link {
    height: 79px;
    width: 395px;
    margin: 0px;
    display: block;
    background: url('../images/layout/faf_title_grey.png');
}
.faf-title-link:hover {
    background: url('../images/layout/faf_title_hover.png');
}
.all-menu-link {
    height: 79px;
    width: 80px;
    margin: 0px;
    display: block;
    background: url('../images/layout/all_small_grey.png');
}
.all-menu-link:hover {
    background: url('../images/layout/all_small_hover.png');
}

.aeon-menu-link {
    height: 79px;
    width: 80px;
    margin: 0px;
    display: block;
    background: url('../images/layout/aeon_small_grey.png');
}
.aeon-menu-link:hover {
    background: url('../images/layout/aeon_small_hover.png');
}
.cybran-menu-link {
    height: 79px;
    width: 80px;
    margin: 0px;
    display: block;
    background: url('../images/layout/cybran_small_grey.png');
}
.cybran-menu-link:hover {
    background: url('../images/layout/cybran_small_hover.png');
}
.uef-menu-link {
    height: 79px;
    width: 80px;
    margin: 0px;
    display: block;
    background: url('../images/layout/uef_small_grey.png');
}
.uef-menu-link:hover {
    background: url('../images/layout/uef_small_hover.png');
}
.seraphim-menu-link {
    height: 79px;
    width: 80px;
    margin: 0px;
    display: block;
    background: url('../images/layout/seraphim_small_grey.png');
}
.seraphim-menu-link:hover {
    background: url('../images/layout/seraphim_small_hover.png');
}
.compare-menu-link {
    height: 79px;
    width: 80px;
    margin: 0px;
    display: block;
    background: url('../images/layout/compare_small_grey.png');
}
.compare-menu-link:hover {
    background: url('../images/layout/compare_small_hover.png');
}
.search-menu-link {
    height: 79px;
    width: 80px;
    margin: 0px;
    display: block;
    background: url('../images/layout/search_small_grey.png');
}
.search-menu-link:hover {
    background: url('../images/layout/search_small_hover.png');
}


.layout-race-logo-left {
    position: fixed;
    /*position: absolute;*/
    top: 100px;
    left: 10px;
    width: 225px;
    height: 276px;
    color: #FF0000;
    text-align: center;
    border-style: none;
    border-width: 1px;
    border-color: #FFFFFF;
    margin: 0px;
    padding: 0px;
    z-index: -1;
}

.layout-faf-logo-right {
    position: absolute;
    bottom: 60px;
    right: 5px;
    width: 200px;
    height: 200px;
    color: #FF0000;
    text-align: center;
    border-style: none;
    border-width: 1px;
    border-color: #FFFFFF;
    margin: 0px;
    padding: 0px;
    z-index: -1;
}

.aeon-view {
    /*background: rgba(10, 157, 47, .50);*/
    /*margin: 0px;*/
    padding: 0px;
    color: #CCCCCC;
}
.aeon-view hr {
    color: #0A9D2F;
    background-color: #0A9D2F;
    height: 5px;
    margin: 5px;
    margin-top: 3px;    
    border-style: none;
}
.aeon-view h4 {
    color: #FFFFFF;
    font-size: 1.4em;
    font-weight: bold;
    margin: 0px;
    margin-bottom: 5px;
}
.aeon-view h4.aeon {
    color: #0A9D2F;    
    font-family: Aeon;
    font-size: 25px;
    line-height: 25px;
}
.aeon-view h5.aeon {
    color: #0A9D2F;
}

.cybran-view {
    /*background: rgba(223, 45, 14, .50);*/
    /*margin: 0px;*/
    padding: 0px;
    color: #CCCCCC;
}
.cybran-view hr {
    color: #DF2D0E;
    background-color: #DF2D0E;
    height: 5px;
    margin: 5px;
    margin-top: 3px;    
    border-style: none;
}
.cybran-view h4 {
    color: #FFFFFF;
    font-size: 1.4em;
    font-weight: bold;
    margin: 0px;
    margin-bottom: 5px;
}
.cybran-view h4.cybran {
    color: #DF2D0E;
    font-family: Cybran;
    font-size: 25px;
    line-height: 25px;
}
.cybran-view h5.cybran {
    color: #DF2D0E;
}

.uef-view {
    /*background: rgba(45, 120, 178, .50);*/
    /*margin: 0px;*/
    padding: 0px;
    color: #CCCCCC;
}
.uef-view hr {
    color: #2D78B2;
    background-color: #2D78B2;
    height: 5px;
    margin: 5px;
    margin-top: 3px;    
    border-style: none;
}
.uef-view h4 {
    color: #FFFFFF;
    font-size: 1.4em;
    font-weight: bold;
    margin: 0px;
    margin-bottom: 5px;
}
.uef-view h4.uef {
    color: #2D78B2;
    font-family: UEF;
    font-size: 25px;
    line-height: 25px;
}
.uef-view h5.uef {
    color: #2D78B2;
}

.seraphim-view {
    /*background: rgba(241, 194, 64, .50);*/
    /*margin: 0px;*/
    padding: 0px;
    color: #CCCCCC;
}
.seraphim-view hr {
    color: #F1C240;
    background-color: #F1C240;
    height: 5px;
    margin: 5px;
    margin-top: 3px;    
    border-style: none;
}
.seraphim-view h4 {
    color: #FFFFFF;
    font-size: 1.4em;
    font-weight: bold;
    margin: 0px;
    margin-bottom: 5px;
}
.seraphim-view h4.seraphim {
    color: #F1C240;
    font-family: Seraphim;
    font-size: 25px;
    line-height: 25px;
}
.seraphim-view h5.seraphim {
    color: #F1C240;
}

.aeon-border {
    border-color: rgba(10, 157, 47, .50);
}
.cybran-border {
    border-color: rgba(223, 45, 14, .50);
}
.uef-border {
    border-color: rgba(45, 120, 178, .50);
}
.seraphim-border {
    border-color: rgba(241, 194, 64, .50);
}

.table-block {
    margin: 0px 0px 30px 0px;
    background-color: rgba(17, 17, 17, .95);
    /*border-style: solid;*/
    /*border-radius: 10px;*/

    /*border-width: 0px 5px 0px 5px;*/
    /*border-color: rgba(170, 170, 170, 0.5);*/
    padding: 10px;
}

.race-table-block {
    margin: 15px;
    background: rgba(0, 0, 0, .80);
    border-style: solid;
    border-width: 1px;
    border-color: #FFFFFF;
    padding: 10px;
}


.info-avatar {
    width: 64px;
    height: 64px;
    float: left;
    margin: 5px;
    padding: 0px;
}

.amph {
    background-image: url("../images/arenas/amph_up.png");
}
.air {
    background-image: url("../images/arenas/air_up.png");
}
.land {
    background-image: url("../images/arenas/land_up.png");
}
.sea {
    background-image: url("../images/arenas/sea_up.png");
}

.strat_icon {
    position: relative;
    left: 42px;
    top: -25px;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}
.center {
    text-align: center;
}

.info-tier {
    float: right;
    text-align: left;
    padding: 5px;
}

.info-title {    
    float: left; 
    text-align: left;
    padding: 5px;
}
.info-title h4 {
    font-family: 'Muli', sans-serif;
}

.electrolize {
    font-family: 'Electrolize', sans-serif;
}

.attribute {
    color: #666;
}

.veterancy {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}
.veterancy th {
    font-size: 10pt;
    font-weight: bold;
    text-align: center;
    border: none;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    background-color: #111;
}
.veterancy td {
    font-size: 10pt;
    font-weight: normal;
    text-align: center;
    border: none;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #111;
    padding: 5px;
}
.level-header {
    width: 100px;
}
.kp-header {
    width: 75px;
}

.aeon-header {
    color: #0A9D2F;
    border-color: #0A9D2F;
}
.cybran-header {
    color: #DF2D0E;
    border-color: #DF2D0E;
}
.uef-header {
    color: #2D78B2;
    border-color: #2D78B2;
}
.seraphim-header {
    color: #F1C240;
    border-color: #F1C240;
}

.no-margin {
    margin: 0px;
}

.attack-spacing {
    margin-bottom: 25px;
}


.enhancement-item {
    padding: 5px;
    background-color: #000;
    border: 1px;    
    border-color: #222;
    border-style: solid;
    margin-bottom: 20px;
}

.race-line-attr-padding {
    padding-top: 25px;
}
.race-line-tier-padding {
    padding-top: 8px;
    padding-right: 10px;
}

.compare-unit-wrapper {
    background: rgba(170, 170, 170, .4);
    padding: 10px;
    border-radius: 10px;
}

.compare-unit {
    background: #000;
    padding: 10px;
    border-radius: 10px;
}

.compare-unselected {
/*    background-color: #666;*/
    border-radius: 10px;
    border-size: 3px;
    border-color: #000;
    border-style: solid; 
    padding: 5px;
}
.compare-unselected:hover {
    background-color: #CCC;
}
.compare-selected {
    background-color: #999;
    border-radius: 10px;
    border-size: 3px;
    border-color: #FFF;
    border-style: solid;  
    padding: 5px;
}
.compare-selected:hover {
    background-color: #CCC;
}

.compare-select {
    width: 90%;
    background-color: #333;
    color: #AAA;
    border-color: #666;
    border-width: 2px;
}
.compare-select:hover {
   
    border-color: #AAA;
}
.compare-button {
  border-radius: 10px;
  font-family: 'Electrolize', sans-serif;
  color: #AAA;
  font-size: 34px;
  background: #333;
  padding: 15px 20px 15px 20px;
  border: solid #666 5px;
  text-decoration: none;
}
.compare-button:hover {
    border-color: #AAA;
}
.compare-row-spacing {
    margin: 5px;
}

.white {
    color: #FFF;
}
.right-align {
    text-align: right;
}

.compare-gap-top {
    margin-bottom: 20px;
}

.dark-bg {
    background: rgba(0, 0, 0, .8);
    margin: 10px;
}

.black-bg {
    background-color: #000;
}
/*.black-bg:hover {
    background-color: #666;
}*/


.compare-title:hover{
    background: rgba(255, 255, 255, 0.2);
}

.align-right {
    text-align: right;
}

.collapse-button {
    border-radius: 5px;
    font-family: 'Electrolize', sans-serif;
    color: #AAA;
    font-size: 16px;
    font-weight: bold;
    background: #333;
    padding: 1px 10px 1px 10px;
    border: solid #666 2px;
    text-decoration: none;   
}
.collapse-button:hover {
    border-color: #AAA;
    background: #666;
}



.collapse-link-spacing {
    padding-top: 6px;
    padding-left: 20px;
    text-align: left;
}

.production {
    color: #0F0;
}

.consumption {
    color: #F00;
}

.feedback-box {
    position: fixed;
    top: 100px;
    right: -120px;
    z-index: 90;
    background-color: #008852;
    color: #ffffff;
    width: 150px;
    height: 165px;
    border-radius: 5px;
}
.feedback-box:hover {
    background-color: #004432;
}
.feedback-box h4 {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(90deg);
  font-family: 'Muli';
  font-size: 24px;
  /*border: 1px solid #f00;*/
  position: relative;
  top: 60px;
  left: -135px;
  text-align: center;
  width: 300px;
  color: #ccc;

}
.feedback-fade {
    position: fixed;
    z-index: 109;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
}
.feedback-window {
    z-index: 110;
    width: 600px;
    min-height: 420px;
    position: fixed;
    top: 100px;
    left: 200px;
    background-color: #111;
    padding: 10px;
}
.feedback-close {
    float: right;
    display: block;
    /*width: 25px;*/
    /*height: 25px;*/
    background-color: #a00;
    font-weight: bold;
    font-family: Consolas;
    font-size: 15px;
    color: #fff;
    padding: 2px 5px 5px 5px;
}
.feedback-close:hover {
    background-color: #f00;
}
.feedback-textarea {
    font-family: Consolas; 
    display: block; 
    margin: 10px auto 10px auto; 
    resize: none; 
    width: 90%; 
    height: 200px; 
    background-color: #000; 
    color: #ddd;
}
.feedback-button {
    display: block; 
    margin: 10px auto 10px auto; 
    background-color: #000; 
    border: 3px solid #666; 
    color: #666; 
    font-family: 'Muli'; 
    padding: 5px; 
    border-radius: 3px; 
    font-weight: bold;
}
.feedback-button:hover {
    background-color: #333;
}